* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* body head==========================================================================================================================*/
.main {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  text-align: center;
}

.main .head-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main .head-top .head-top-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 365px;
  height: 39px;
  border-style: none;
  border-bottom-left-radius: 4px;
  background-color: rgba(219, 210, 210, 0.3);
  cursor: pointer;
}

.main .head-top .head-top-position li {
  margin: 0px;
  padding: 2px;
  list-style: none;
}

.main .head-top .head-top-position li img {
  width: 19px;
  height: 19px;
}

.main .head-top .head-top-position li p {
  color: rgba(52, 34, 13, 0.8);
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: .7px;
}

.main .head-top .head-top-position .head-top-position-4th-li {
  background-color: #007cba;
  padding: 7px 17.99px;
  font-size: 14px;
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 108px;
  height: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  left: 9px;
}

.main .head-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .head-bottom .head-bottom-first-image {
  width: 364px;
  height: 93px;
  margin-top: 20px;
}

.main .head-bottom .head-bottom-left-box input {
  width: 371px;
  height: 44px;
  padding: 5px;
  margin-top: 73px;
  border-style: none;
  border-bottom: 1px solid black;
  font-size: 13px;
  cursor: pointer;
}

.main .head-bottom .head-bottom-left-box input:hover {
  border-bottom: 2px solid #007cba;
}

.main .head-bottom .head-bottom-left-box i {
  height: 10px;
  width: 10px;
  position: absolute;
  top: 115px;
  right: 140px;
  color: #a39f9f;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

/*navbar ==========================================================================================================================*/
.nav {
  background-color: #F6F5F4;
  height: 46px;
}

.nav .nav-container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 31px auto auto;
  font-size: 16px;
}

.nav .nav-container .nav-container-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #63513D;
}

.nav .nav-container .nav-container-left li {
  list-style: none;
  margin-right: 18px;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
}

.nav .nav-container .nav-container-left li:hover {
  background-color: #D6E8DB;
}

.nav .nav-container .nav-container-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
}

.nav .nav-container .nav-container-right li {
  list-style: none;
  margin-left: 30px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
}

.nav .nav-container .nav-container-right li:hover {
  background-color: #D6E8DB;
}

/*home image ==========================================================================================================================*/
.home-image {
  background: url(images/three-brands-sustainability-highlight.jpg);
  color: white;
  position: relative;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  background-size: 100%;
  cursor: pointer;
}

.home-image .colorOverLay {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(black));
  background: linear-gradient(rgba(0, 0, 0, 0), black);
  opacity: .7;
  width: 100%;
  height: 100%;
  position: absolute;
}

.home-image h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  color: white;
  z-index: 1;
  position: relative;
  top: 80px;
}

.home-image h4 {
  margin-bottom: 44px;
  font-size: 20px;
  font-weight: 200;
  z-index: 1;
  position: relative;
  top: 80px;
}

.home-image p {
  z-index: 1;
  position: relative;
  top: 80px;
  font-size: 13px;
}

/*first card slider ==========================================================================================================================*/
.card-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: auto;
}

.card-slider .card {
  width: 23.5%;
  margin-right: 2%;
  margin: 81px auto;
  border-radius: 5px;
  border: 1px solid;
  height: 422px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.card-slider .card .card-image {
  width: 100%;
}

.card-slider .card .card-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 144px;
}

.card-slider .card .card-image .reports {
  position: absolute;
  top: 123px;
  background-color: #007cba;
  padding: 5px 15px;
  font-size: 10px;
  color: white;
  border-top-right-radius: 10px;
}

.card-slider .card .card-image .crating {
  position: absolute;
  top: 123px;
  background-color: #d64123;
  padding: 5px 15px;
  font-size: 10px;
  color: white;
  border-top-right-radius: 10px;
}

.card-slider .card .card-image .need {
  position: absolute;
  top: 123px;
  background-color: #2e8025;
  padding: 5px 15px;
  font-size: 10px;
  color: white;
  border-top-right-radius: 10px;
}

.card-slider .card .card-image .update {
  position: absolute;
  top: 123px;
  background-color: #ca003d;
  padding: 5px 15px;
  font-size: 10px;
  color: white;
  border-top-right-radius: 10px;
}

.card-slider .card .card-discription {
  width: 100%;
}

.card-slider .card .card-discription h4 {
  font-size: 27px;
  text-align: left;
  padding: 24px;
}

.card-slider .card .card-discription p {
  text-align: left;
  padding: 0 24px;
  letter-spacing: .5px;
  font-size: 20px;
  font-weight: lighter;
  color: #34220D;
}

.card-slider .card .read-more {
  color: #007cba;
}

.card-slider .card-4 {
  margin-right: 0;
  width: 23.5%;
}

/*latest news ==========================================================================================================================*/
.news {
  background-color: #a50064;
  color: white;
  padding: 64px 0;
}

.news .news-content {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news .news-content .news-content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 23.5%;
}

.news .news-content .news-content-box h2 {
  font-size: 36px;
  margin-left: 0;
  font-weight: lighter;
}

.news .news-content .news-content-box button {
  position: relative;
  top: 142px;
  width: 109px;
  height: 36px;
  background: transparent;
  color: white;
  border-color: white;
  border-width: 1px;
  border-radius: 1px;
}

.news .news-content .news-content-box .content-head {
  margin-bottom: 15px;
  cursor: pointer;
}

.news .news-content .news-content-box .content {
  padding: 0 70px 16px 0;
  width: 216px;
  height: 185px;
  font-size: 18px;
  border-bottom: 1px solid white;
  cursor: pointer;
}

.news .news-content .news-content-box .position1 i {
  position: relative;
  top: 30px;
  left: 200px;
}

.news .news-content .news-content-box .position2 i {
  position: relative;
  top: 10px;
  left: 200px;
}

.news .news-content .news-content-box .position3 i {
  position: relative;
  top: 90px;
  left: 200px;
}

/*products ==========================================================================================================================*/
.products .product-container {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 73px;
}

.products .product-container .product-top {
  margin-bottom: 64px;
  font-size: 36px;
  color: #63513d;
}

.products .product-container .product-top span {
  font-weight: 600;
}

.products .product-container .product-top h3 {
  display: inline-block;
  font-weight: lighter;
}

.products .product-container .product-middle {
  margin-bottom: 94px;
}

.products .product-container .product-middle img {
  width: 107px;
  height: 107px;
  border-radius: 100%;
  margin-right: 39px;
}

.products .product-container .product-bottom button {
  padding: 10px 5px;
  width: 138px;
  background-color: transparent;
  color: #007cba;
  border: 1px solid #007cba;
  border-radius: 1px;
}

/*signUp ==========================================================================================================================*/
.signup {
  background-color: #007cba;
  opacity: .9;
}

.signup .signUpContainer {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px;
}

.signup .signUpContainer .box {
  width: 238px;
  overflow: hidden;
  margin-right: 10px;
  color: white;
}

.signup .signUpContainer .box img {
  width: 100%;
  height: 138px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
}

.signup .signUpContainer .box h3 {
  margin-bottom: 21px;
  font-size: 22px;
  font-weight: lighter;
}

.signup .signUpContainer .box p {
  margin-bottom: 16px;
  font-size: 18px;
}

.signup .signUpContainer .box button {
  width: 105px;
  height: 36px;
  background-color: transparent;
  color: white;
  border-color: white;
  border-radius: 2px;
}

.signup .signUpContainer .box .one {
  background-color: white;
  color: #007cba;
}

/*detail ==========================================================================================================================*/
.details .detail-container {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 490px;
  margin: 65px auto 0;
  text-align: left;
}

.details .detail-container .height1 {
  height: 282px;
}

.details .detail-container .height1 p {
  height: 210px;
  padding: 0 50px 0 0;
  font-size: 24px;
  font-weight: lighter;
  color: #30261D;
}

.details .detail-container .height1 h1 {
  color: #63513d;
}

.details .detail-container .box {
  width: 25%;
}

.details .detail-container .box .box-child {
  border-top: 1px solid black;
  margin-left: 20px;
  padding-top: 20px;
  padding-bottom: 50px;
}

.details .detail-container .box .box-child h2 {
  font-size: 16px;
  margin-bottom: 18px;
  font-weight: lighter;
  color: #63513d;
}

.details .detail-container .box .box-child li {
  list-style: none;
  margin-bottom: 5px;
  color: #30261D;
}

/*social media ==========================================================================================================================*/
.social-media .social-media-container {
  width: 30%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.social-media .social-media-container h1 {
  font-family: 'Righteous', cursive;
  font-style: italic;
  color: #63513d;
  font-size: 20px;
  margin-bottom: 19px;
}

.social-media .social-media-container .social-media-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.social-media .social-media-container .social-media-list li {
  list-style: none;
  margin: 0 30px 53px 0;
  background-color: #007cba;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 100%;
}

.social-media .social-media-container .social-media-list li i {
  font-size: 20px;
  color: white;
}

/*footer container ==========================================================================================================================*/
.footer {
  background-color: white;
  opacity: .5;
}

.footer .footer-container {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-container li {
  list-style: none;
  padding-right: 10px;
  padding-left: 15px;
  font-size: 13px;
}
/*# sourceMappingURL=new16.css.map */